.search {
  .search-wrap {
    padding: $p-2;
    margin-bottom: $m-2;
    border-radius: $rounded-md;
    background: $bg-white;
    .wrap-list {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 1.5rem;
      @include respond(laptop) {
        grid-template-columns: repeat(3, 1fr);
      }
      @include respond(smTablet) {
        grid-template-columns: repeat(2, 1fr);
      }
      @include respond(mdPhone) {
        grid-template-columns: auto;
      }
    }
    @include respond(mdPhone) {
      padding: $p-1;
    }
  }
  .list-pagination {
    margin-top: $m-2;
  }
}
