.header {
  width: $w-full;
  box-shadow: 0 2px 5px $bg-gray;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  .header-top {
    background: $bg-green;
    padding: $p-1 - 0.7 $p-5 * 3;
    .top-about,
    .top-contact {
      color: $text-white;
      * {
        color: $text-white;
      }
    }
    .top-translate {
      cursor: pointer;
      .dropdown-label {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    @include respond(laptop) {
      padding: $p-1 - 0.7 $p-2;
    }
    @include respond(mdTablet) {
      display: none;
    }
  }
  .header-bottom {
    padding: $p-1 $p-5 * 3;
    border-bottom: unset;
    .bottom-category {
      width: $w-full;
      .category-btn {
        width: $w-full;
      }
    }
    .bottom-search {
      position: relative;
      .search-icon {
        border: 0;
        background: unset;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &:hover svg path {
          color: $text-green;
        }
        svg path {
          transition: color $transition-time-sm $transition-fn;
        }
      }
      .search-icon-disabled {
        svg path {
          color: $text-gray;
        }
      }
      .search-dropdown {
        width: $w-full;
        height: $h-10 * 4;
        padding: $p-1;
        overflow: hidden;
        background: $bg-white;
        border-radius: $rounded;
        box-shadow: 0 0 3px $bg-slate;
        position: absolute;
        top: calc(100% + 5px);
        left: 0;
        transform: scaleY(0);
        transform-origin: top;
        transition: transform $transition-time-xs $transition-fn;
        .dropdown-item {
          padding: $p-1;
          display: flex;
          align-items: center;
          border-radius: $rounded;
          cursor: pointer;
          transition: background-color $transition-time-sm $transition-fn;
          &:hover {
            background: $bg-green-rgba-xs;
          }
          .item-name {
            margin-left: $m-2;
          }
        }
        @include respond(mdPhone) {
          height: $h-10 * 3;
        }
      }
      .search-dropdown-active {
        transform: scaleY(1);
        animation: dropdown $transition-time-xs $transition-fn;
      }
    }
    .bottom-likes {
      display: flex;
      align-items: center;
      justify-content: center;
      border: unset;
      background: unset;
    }
    .bottom-cart {
      position: relative;
      .cart-icon {
        cursor: pointer;
        .avatar-content {
          border: unset;
          align-items: center;
          * {
            color: $text-black;
          }
        }
      }
      .cart-dropdown {
        width: $w-10 * 3;
        background: $bg-white;
        box-shadow: 0 0 5px $bg-gray;
        border-radius: $rounded;
        overflow: hidden;
        position: absolute;
        opacity: 0;
        transform: scaleY(0);
        transform-origin: top;
        top: 120%;
        right: 0;
        z-index: 15;
        transition: all $transition-time-xs $transition-fn;
        .dropdown-inner {
          width: $w-full;
          height: $h-10 * 3;
          overflow-y: auto;
          overflow-x: hidden;
          .inner-item {
            display: block;
            padding: $p-1;
            border-bottom: 1px solid $bg-gray;
            transition: all $transition-time-sm $transition-fn;
            &:hover {
              background: $bg-green-rgba-xs;
            }
            &:last-child {
              border-bottom: unset;
            }
            .item-name {
              margin-bottom: $m-1 - 0.5;
            }
          }
        }
        .dropdown-action {
          width: $w-full;
          padding: $p-1;
          border-top: 1px solid $bg-gray;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .action-text {
            font-size: $text-md;
            font-weight: 600;
            color: $text-green;
          }
        }
      }
      .cart-dropdown-active {
        transform: scaleY(1);
        opacity: 1;
        animation: dropdown $transition-time-xs $transition-fn;
      }
    }
    .bottom-auth {
      .auth-btn {
        width: $w-full;
      }
      .auth-logout {
        width: $w-full;
        border: unset;
        background: transparent;
      }
    }
    .bottom-mobile {
      .mobile-open-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        border: unset;
        background: unset;
        * {
          color: $text-white;
        }
      }
      .mobile-auth-btn {
        background: transparent;
        border-color: $bg-white;
        * {
          color: $text-white;
        }
      }
    }
    @include respond(laptop) {
      padding: $p-1 $p-2;
    }
    @include respond(lgTablet) {
      padding: $p-1;
    }
    @include respond(mdTablet) {
      padding: $p-1;
      background: $bg-green;
    }
  }
  @include respond(mdTablet) {
    box-shadow: none;
  }
}

.header-mobile-side {
  .side-link {
    display: block;
    padding: $p-1;
  }
  .side-lang {
    font-weight: 600;
    color: $text-gray;
  }
  .side-lang-active {
    color: $text-green;
  }
}
