.scroll-up-button {
  width: $w-4;
  height: $h-4;
  border: 1px solid $bg-green;
  border-radius: $rounded-full;
  background: $bg-green;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 15;
  opacity: 0;
  transition: all $transition-time-sm $transition-fn;
  * {
    color: $text-white;
  }
  &:hover {
    opacity: 0.6;
  }
}

.scroll-up-button-show {
  opacity: 1;
  animation: fade $transition-time-sm $transition-fn;
}
