.sign-in {
  .sign-in-link {
    color: $text-blue;
    cursor: pointer;
  }
  .sign-in-actions {
    margin-top: $m-3;
    .actions-btn {
      width: $w-full;
      margin-bottom: $m-1;
      &:last-child {
        margin: 0;
      }
    }
  }
}
