.sign-up {
  .sign-up-actions {
    margin: $m-3 0;
    .actions-btn {
      width: $w-full;
      margin-bottom: $m-1;
      &:last-child {
        margin: 0;
      }
    }
  }
  .sign-up-note {
    .note-link {
      color: $text-blue;
    }
  }
}
