.sign-in {
  padding: $p-5 + 5 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/background/food-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  .sign-in-wrap {
    width: $w-10 * 7;
    .wrap-title {
      margin: 0;
    }
    .wrap-form {
      padding: $p-5 $p-5 + 2;
      .form-link {
        color: $text-blue;
        cursor: pointer;
      }
      .form-actions {
        margin-top: $m-3;
        .actions-btn {
          width: $w-full;
          margin-bottom: $m-1;
          &:last-child {
            margin: 0;
          }
        }
      }
      @include respond(mdPhone) {
        padding: $p-2;
      }
    }
    @include respond(smTablet) {
      width: $w-10 * 6;
    }
    @include respond(mdPhone) {
      width: $w-10 * 3.6;
    }
    @include respond(smPhone) {
      width: $w-10 * 3;
    }
  }
}
