.main {
  padding-top: $p-1 * 9;
  background: $bg-white-rgba-sm;
  @include respond(mdTablet) {
    padding: $p-1 * 10 0;
  }
}

.main-full {
  padding: 0;
}

.page {
  padding: $p-1 $p-5 * 3;
  @include respond(laptop) {
    padding: 0 $p-2;
  }
  @include respond(lgTablet) {
    padding: 0 $p-1;
  }
}

.card-container {
  .card-head,
  .card-body {
    border: unset !important;
  }
}

.app-error {
  width: $w-full;
  height: $h-screen;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .error-card {
    width: $w-10 * 7;
    @include respond(mdTablet) {
      width: $w-10 * 5;
    }
    @include respond(mdPhone) {
      width: $w-10 * 3;
    }
  }
}

.error-wrapper {
  width: $w-full;
  padding: $p-5;
  display: flex;
  align-items: center;
  justify-content: center;
}

#nprogress .bar {
  width: $w-full;
  height: $h-1;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 300;
}
