.about-blog {
  margin-bottom: $m-5 + 5;
  .blog-group {
    margin-bottom: $m-5 + 5;
    &:last-child {
      margin: 0;
    }
    .group-image {
      width: $w-full;
      position: relative;
      &::after {
        content: "";
        width: $w-full - 50;
        height: calc($h-full + 6rem);
        background: $bg-green-rgba-xs;
        border-radius: $rounded-lg;
        position: absolute;
        top: -30px;
        left: 20px;
      }
      .image-inner {
        position: relative;
        z-index: 1;
      }
    }
    .group-device {
      width: $w-full;
      height: $h-10 * 3;
      position: relative;
      z-index: 1;
      &::after {
        content: "";
        width: $w-10 * 2.5;
        height: $h-10 * 4;
        border-radius: $rounded-full;
        background: $bg-green-rgba-xs;
        position: absolute;
        top: 50%;
        left: 30px;
        transform: skewX(-10deg) translateY(-50%);
        @include respond(mdTablet) {
          top: 50%;
          left: 50%;
          transform: skewX(-10deg) translate(-50%, -50%);
        }
        @include respond(lgPhone) {
          left: 10px;
          transform: skewX(-5deg) translateY(-50%);
        }
      }
      .device-monitor {
        position: absolute;
        z-index: 2;
        @include respond(laptop) {
          width: $w-full;
        }
        @include respond(mdTablet) {
          width: $w-10 * 4;
          left: 50%;
          transform: translateX(-50%);
        }
        @include respond(mdPhone) {
          width: $w-full;
        }
      }
      .device-phone {
        position: absolute;
        bottom: -30px;
        right: 20px;
        z-index: 3;
        @include respond(mdTablet) {
          right: 200px;
        }
        @include respond(smTablet) {
          right: 20px;
        }
      }
    }
  }
}
