.product-detail {
  .detail-info {
    margin-bottom: $m-5;
    .info-image {
      margin-bottom: $m-1;
      border-radius: $rounded;
      box-shadow: 0 0 1rem $bg-gray;
      overflow: hidden;
      position: relative;
      &:hover .image-group {
        transform: scale(1.2);
      }
      .image-group {
        height: $h-full !important;
        transition: transform $transition-time-sm $transition-fn;
      }
      .image-badge {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        z-index: 1;
      }
    }
    .info-name {
      margin-bottom: $m-1;
    }
    .info-price {
      color: $text-green;
    }
    .info-group {
      margin-bottom: $m-1 - 0.5;
    }
  }
  .detail-tabs {
    margin-bottom: $m-5;
    .tabs-description {
      ul {
        margin-block-start: $m-1;
        margin-block-end: $m-1;
        margin-inline-start: 0;
        margin-inline-end: 0;
        padding-inline-start: 40px;
      }
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-size: initial;
      }
    }
  }
  .detail-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1.5rem;
    @include respond(laptop) {
      grid-template-columns: repeat(3, 1fr);
    }
    @include respond(smTablet) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include respond(mdPhone) {
      grid-template-columns: auto;
    }
  }
}
