.categories-mobile {
  display: none;
  background: $bg-white;
  padding: $p-1;
  margin-top: $m-2;
  .mobile-wrap,
  .mobile-loading {
    overflow-y: hidden;
    overflow-x: auto;
    &::-webkit-scrollbar {
      width: 0.5rem;
      height: 0.5rem;
    }
    .wrap-inner {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      .inner-item {
        min-width: $w-10 + 2.5;
        padding: $p-1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .item-image {
          margin-bottom: $m-1;
        }
      }
      .item-text {
        font-size: $text-xs;
      }
    }
  }
  @include respond(mdTablet) {
    display: block;
  }
}
