.user {
  .user-tabs {
    padding: $p-2;
    background: $bg-white;
    border-radius: $rounded-md;
  }
  .user-info {
    background: $bg-green;
    * {
      color: $text-white;
    }
    .info-edit-icon {
      cursor: pointer;
      transition: opacity $transition-time-sm $transition-fn;
      &:hover {
        opacity: 0.6;
      }
    }
    .info-item {
      margin-bottom: $m-1 - 0.5;
      &:last-child {
        margin: 0;
      }
    }
  }
  .user-table-pagination {
    margin: $m-1;
  }
}

.user-form {
  .form-showmore {
    margin: $m-1 0;
    border: unset;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $text-blue;
    * {
      color: $text-blue;
    }
  }
  .form-showmore-close {
    * {
      color: $text-red;
    }
  }
}
